{% extends 'main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
        <br>

            {% if product.image %}
                <img class="thumbnail" src="{{ product.image.url }}">
            {% else %}
                <img class="thumbnail" src="/media/images/8.jpg">
            {% endif %}
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'detail' product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>
    <h1>{{ title }}</h1>
    {% for contact in page_obj %}
    <p>{{ contact }}</p>
{% endfor %}

    <nav>
        <ul>
        {% for p in page_obj.paginator.page_range %}
            <li>
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock%}